<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

<settings>
	<setting name="cacheEnabled" value="true"/>
	<!-- 设置超时时间，它决定驱动等待一个数据库响应的时间 -->
	<setting name="defaultStatementTimeout" value="10000"/>
</settings>

</configuration>	
